BOT_TOKEN=your_bot_token_here
PREFIX=!
MOD_LOG_CHANNEL=mod-logs
WELCOME_CHANNEL=welcome
WELCOME_MESSAGE=Welcome to the server, {user}! 👋
GOODBYE_MESSAGE=**{user}** has left the server.
ANTIRAID_ENABLED=false
ANTIRAID_JOIN_THRESHOLD=10
ANTIRAID_JOIN_WINDOW=10000
